<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
</head>
<body>
    <div>
        <form action="{%url 'teja'%}" method="post" >
            {% csrf_token %}
            <input type="text" name="name" placeholder="Employee name" required>
            <input type="text" name="phone" placeholder=" phone num" required>
            <input type="text" name="id" placeholder="empid" required>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>